:root {

  --color-primary: #3c9ec2;
  --color-danger: #8a1616;
  --color-success: #1f6e29;

  --color-bg: #f5f7fa;
  --color-white: #ffffff;
  --color-border: #d9dfe7;

  --shadow-md:
    0 10px 30px rgba(0,0,0,0.15);

  --radius-md: 10px;
}